$backgr-color : #fff;
$title-color : #444;
$frmbackgr-color : #f0f0f0;
$icon-color : #acacac;
$input-color : #333;
$inputHover-color :#aaa;
$btnbackgr-color : #5995fd;
$btnHover-color : #4d84e2;
$socialHover : #4481eb;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
